<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍一覧</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/}">My Book Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="list.html" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html" th:href="@{/toRegister}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="mt-5">
        <div class="container">
            <table class="table table-striped">
                <thead class="table-success">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Price</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book: ${bookList}">
                        <th scope="row" th:text="${book.id}">1</th>
                        <td th:text="${book.title}">title</td>
                        <td th:text="${book.author}">author</td>
                        <td th:text="${book.publisher}">ポプラ社</td>
                        <td th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')} + '円'">値段</td>
                        <td><a class="btn btn-outline-primary btn-sm" href="#">詳細</a></td>
                        <td>
                            <form action="#" th:action="@{/delete}" method="post">
                                <input type="hidden" th:value="${book.id}" name="id">
                                <button class="delete-action btn btn-outline-danger btn-sm" type="submit">削除</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
